node_modules
dist
pnpm-lock.yaml
.history
.eslintrc
packages/docs/.vitepress/cache
scripts/*.sh
*.vls.vine-virtual.ts

# Ignore playground files
# because we didn't implement `.vine.ts`
# template ESTree support yet
packages/playground/**/*.vine.ts
