:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    30deg,
    #1d2d69 0%,
    #47974f 40%
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #43954b 50%,
    #354fae 50%
  );
  --vp-home-hero-image-filter: blur(56px);

  --vine-bold-text-color: var(--vp-c-brand-1);
}

body, html {
  font-family:
    Rubik,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  word-spacing: 0.1rem;
  font-variant-ligatures: none;
}

strong {
  color: var(--vine-bold-text-color);
}

.hlmark {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--vp-c-brand-1);
  margin: 0 0.25rem;
  border-bottom: 1px dashed var(--vp-c-brand-1);
}

/* ---------- Special tweaking ----------- */

img[alt="npm"] {
  display: inline-block;
  margin: 0 0.5rem;
  transform: translateY(0.2rem);
}

.items .item:nth-child(1) .VPFeature article.box {
  background-color: rgba(251, 211, 11, 0.4);
  border: 2px solid rgb(250, 231, 135);
  box-shadow: 0 0 16px 5px rgba(251, 226, 101, 0.5);
  border-radius: 1rem;
  padding: 24px 20px;
}
.items .item:nth-child(1) .VPFeature article.box h2.title {
  font-size: 1.5rem;
  line-height: 30px;
  white-space: nowrap;
}
.items .item:nth-child(1) .VPFeature article.box p.details {
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
}

.items .item:nth-child(2) .VPFeature article.box {
  background-color: rgba(41, 224, 142, 0.535);
  border: 2px solid rgba(87, 225, 165, 0.724);
  box-shadow: 0 0 16px 5px rgba(50, 201, 118, 0.5);
  border-radius: 1rem;
  padding: 24px 20px;
}
.items .item:nth-child(2) .VPFeature article.box h2.title {
  font-size: 1.35rem;
  line-height: 30px;
  white-space: nowrap;
}
.items .item:nth-child(2) .VPFeature article.box p.details {
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
  flex-grow: unset;
}
