:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    30deg,
    #1d2d69 0%,
    #47974f 40%
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #43954b 50%,
    #354fae 50%
  );
  --vp-home-hero-image-filter: blur(56px);

  --vine-bold-text-color: var(--vp-c-brand-1);
}

body, html {
  font-family:
    Rubik,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  word-spacing: 0.1rem;
  font-variant-ligatures: none;
}

strong {
  color: var(--vine-bold-text-color);
}

.hlmark {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0.25rem;
}

/* ---------- Special tweaking ----------- */

img[alt="npm"] {
  display: inline-block;
  margin: 0 0.5rem;
  transform: translateY(0.2rem);
}

.items .item:nth-child(-n+2) .VPFeature article.box {
  --uno: "border-2px rounded-3 border-solid hover:(shadow-[0_0_12px_1px] shadow-op-35)";
}

.items .item:nth-child(1) .VPFeature article.box {
  --uno: "bg-green-500:10 border-green-500:25 hover:shadow-green:40";
}

.items .item:nth-child(2) .VPFeature article.box {
  --uno: "bg-blue-500:10 border-blue-500:25 hover:shadow-blue:40";
}

.items .item .VPFeature article.box h2.title {
  --uno: 'flex items-center gap-2px'
}

.VPHome .container {
  --uno: 'max-w-1350px!';
}
