:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    30deg,
    #1d2d69 0%,
    #47974f 40%
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #43954b 50%,
    #354fae 50%
  );
  --vp-home-hero-image-filter: blur(56px);

  --vine-bold-text-color: var(--vp-c-brand-1);
}

body, html {
  font-family:
    Figtree,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  word-spacing: 0.1rem
}

strong {
  color: var(--vine-bold-text-color);
}

.items .item:nth-child(1) .VPFeature article.box {
  background-color: rgba(251, 211, 11, 0.4);
  border: 2px solid rgb(250, 231, 135);
  box-shadow: 0 0 16px 5px rgba(251, 226, 101, 0.5);
  border-radius: 1rem;
}
.items .item:nth-child(1) .VPFeature article.box h2.title {
  font-size: 1.5rem;
  line-height: 30px;
  white-space: nowrap;
}
.items .item:nth-child(1) .VPFeature article.box p.details {
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
}

.items .item:nth-child(2) .VPFeature article.box {
  background-color: rgba(2, 123, 77, 0.622);
  border: 2px solid rgb(14, 210, 125);
  box-shadow: 0 0 16px 5px rgba(73, 158, 111, 0.5);
  border-radius: 1rem;
}
.items .item:nth-child(2) .VPFeature article.box h2.title {
  font-size: 1.5rem;
  line-height: 30px;
  white-space: nowrap;
}
.items .item:nth-child(2) .VPFeature article.box p.details {
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
}


html[lang="en-US"] .items .item:nth-child(2) .VPFeature article.box h2.title {
  transform: translateX(-6px) translateY(2px);
}
html[lang="en-US"] .items .item:nth-child(2) .VPFeature article.box p.details {
  transform: translateY(16px);
}
