:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    30deg,
    #1d2d69 0%,
    #47974f 40%
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg, 
    #43954b 50%,
    #354fae 50% 
  );
  --vp-home-hero-image-filter: blur(56px);
  
  --vine-bold-text-color: #38a179;
}

body, html {
  font-family: Space Grotesk,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  word-spacing: 0.1rem
}

strong {
  color: var(--vine-bold-text-color);
}